@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Herr+Von+Muellerhoff&family=La+Belle+Aurore&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,
body {
  background: black;

  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  --btn-background-color: rgb(230, 83, 60);
}
p {
  color: rgba(255, 255, 255, 0.5);
}
header,
main,
footer {
  width: 100%;
}
header > section,
main > section,
footer > section {
  width: 90%;
  margin: auto;
}
footer {
  padding-bottom: 500px;
}
header {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0),
    rgba(107, 107, 107, 0.322),
    rgba(20, 20, 20, 0.562) 100%
  );
}
nav {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0);
  position: sticky;
  top: 0%;
  z-index: 100;
}

nav > section {
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

nav > section > ul {
}
nav > section > div > h1 {
  font-size: 36px;
  color: var(--btn-background-color);
  font-style: italic;
}
nav > section > ul > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
nav > section > ul > a > li:active {
  color: yellow;
}
nav > section > ul > a:first-child {
  background: var(--btn-background-color);
  padding: 8px 20px 8px 20px;
  border-radius: 46px;
}
nav > section > ul > a:first-child:hover {
  box-shadow: 0 0 50px cyan;
}
/* hero_section_start */
.hero_section {
  margin-top: 64px;
  display: flex;
  align-items: center;
}

/* hero_section_left_start */
.left {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 10%;
}
.left > div > h1 {
  line-height: 80px;
  font-size: 78px;
}
.left > div > h1 > span {
  font-weight: 200;
  font-style: italic;
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: 400;
  font-style: normal;
}
.left > div > div {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.left > div > p {
  margin-top: 20px;
}
.left > div > div > button {
  height: 40px;
  width: 50%;
  border: none;
  color: white;
  background: none;
  border: solid 1px white;
  border-radius: 46px;
}
.left > div > div > button:first-child {
  background: var(--btn-background-color);
  border: none;
}
.left > div > div > button:first-child:hover {
  background: rgb(180, 67, 49);
}
.left > div > div > button:first-child:active {
  background: rgb(129, 50, 37);
}
.left > div > div > button:last-child:hover {
  background: rgb(46, 172, 67);
  border: none;
  box-shadow: 0 0 50px cyan;
}
.left > div > div > button:last-child:active {
  background: rgb(35, 128, 50);
}
/* hero_section_left_end */
/* ====================================================== */
/* hero_section_right_start */
.right {
  position: relative;
}
.right > div {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.right > img {
  height: 100%;
  width: 70%;
  margin-left: 10%;
}

.CardBox {
  position: relative;
}

.top350K {
  position: absolute;
  right: 0%;
  border-radius: 16px;
  height: 100px;
  width: 45%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top350K > div > p {
  font-size: 12px;
  margin-top: 5px;
}
.top350K > div > h1 {
  font-size: 40px;
}
.btm350K {
  position: absolute;
  bottom: 18%;
  left: -10%;
  border-radius: 16px;
  height: 100px;
  width: 45%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.btm350K > div:first-child {
  background: var(--btn-background-color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.btm350K > div > p {
  font-size: 12px;
  margin-top: 5px;
}
.btm350K > div > h1 {
  font-size: 40px;
}
/* hero_section_right_end*/

/* hero_section_end */
/* ==================================================================== */
/* main_section_start */
main {
  margin-top: 100px;
}
.main_section_1 {
}
.main_section_1 > div {
}
/* top_section_start */
.main_section_1_top {
}
.main_section_1_top_insideDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_section_1_top_insideDiv > div > h1 {
  text-align: center;
}
.main_section_1_top_insideDiv > div > p {
  text-align: center;
  margin-top: 20px;
  padding: 0 50px 0 50px;
}
.main_section_1_top_insideDiv > div > h1 {
  font-size: 40px;
}
/* top_section_end */
/* ================================ */

/* mid_section_start */
.main_section_1_middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_section_1_middle > div {
  display: grid;
  margin: 50px 0 50px 0;
  gap: 40px;
}
.main_section_1_middle > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_section_1_middle > div > div > img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.main_section_1_middle > div > div > div {
  margin-top: 20px;
}
.main_section_1_middle > div > div > div > h1 {
  text-align: center;
}
.main_section_1_middle > div > div > div > p {
  text-align: center;
}
.main_section_1_middle > div > div > div > p {
  font-size: 12px;
}
/* mid_section-end */
/* ======================================= */
/* bottom_section_start */

.main_section_1_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 46px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.main_section_1_bottom > div {
  width: 100%;
}
.main_section_1_bottom > div:first-child > h1 {
  font-size: 48px;
}
.main_section_1_bottom > div:first-child > p {
  font-size: 14px;
  margin-top: 28px;
}
.main_section_1_bottom > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-top: 50px;
}
.main_section_1_bottom > div:last-child > img {
  border-radius: 16px;
  width: 100%;
  width: 100%;
}
.main_section_1_bottom > div > button {
  background: var(--btn-background-color);
  height: 40px;
  width: 40%;
  border: none;
  color: white;
  border-radius: 46px;
  margin-top: 20px;
}
.main_section_1_bottom > div > button:hover {
  background: rgb(209, 75, 54);
  box-shadow: 0 0 50px rgb(0, 255, 255);
}
.main_section_1_bottom > div > button:active {
  background: rgb(151, 52, 37);
}
/* bottom_section_end */

/* main_section_end */

/* ====================================== */
/* responsive_section_start */

@media (max-width: 576px) {
  /* header_section_start */
  nav > section > ul {
    display: none;
  }
  .hero_section {
    flex-direction: column;
  }
  .hero_section > div:first-child {
    width: 100%;
  }

  .hero_section > div:last-child {
    width: 100%;
  }
  .hero_section {
    margin-top: 40px;
  }

  .left > div > div > button {
    height: 40px;
    font-size: 12px;
    width: 80%;
  }
  .left > div > h1 {
    line-height: 50px;
    font-size: 40px;
  }
  .left > div > p {
    font-size: 12px;
  }

  .top350K {
    right: 0%;
    top: 10%;
    height: 80px;
  }
  .btm350K {
    height: 80px;
  }
  .top350K > div > h1 {
    font-size: 35px;
  }

  .btm350K {
    left: 0%;
    bottom: 30%;
  }
  .btm350K > div:first-child {
    height: 30px;
    width: 30px;
  }

  .btm350K > div > h1 {
    font-size: 35px;
  }
  /* header_section_end */
  /* ================================ */
  /* main_section_start */
  .main_section_1_bottom > div:first-child > h1 {
    font-size: 30px;
  }
  .main_section_1_bottom > div:first-child > p {
    font-size: 12px;
  }
  .main_section_1_bottom > div > button {
    width: 100%;
    height: 40px;
  }
  /* main_section_end */
}

@media (min-width: 576px) {
  /* header_section_start */
  nav > section > ul {
    display: none;
  }
  .hero_section {
    flex-direction: column;
  }
  .hero_section > div:first-child {
    width: 100%;
  }
  .hero_section > div:last-child {
    width: 100%;
  }

  .left > div > div > button {
    height: 40px;
    width: 40%;
  }
  .top350K {
    right: 0%;
    top: 10%;
    width: 30%;
  }
  .btm350K {
    left: 0%;
    width: 30%;
  }
  /* header_section_end */
  /* ======================================================== */

  /* main_section_start */
  /* main_mid_start */

  /* main_mid_end */
  /* ======================= */

  /* main_section_end */
}

@media (min-width: 768px) {
  /* header_section_start */
  nav > section > ul {
    display: block;
    display: flex;
    list-style: none;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }
  nav > section > img {
    display: none;
  }
  .hero_section {
    flex-direction: column;
  }
  .hero_section > div:first-child {
    width: 100%;
  }
  .hero_section > div:last-child {
    width: 100%;
  }

  .left > div > div > button {
    height: 40px;
    width: 30%;
  }
  /* header_section_end */
  /* ======================================================== */

  /* main_section_start */
  /* main_mid_start */
  .main_section_1_middle > div {
    grid-template-columns: 1fr 1fr;
  }

  /* main_mid_end */
  /* ======================= */

  /* main_section_end */
}

@media (min-width: 992px) {
  /* header_section_start */

  .left > div > div > button {
    height: 40px;
    width: 30%;
  }
  .hero_section {
    flex-direction: row;
  }
  .hero_section > div:first-child {
    width: 60%;
  }
  .hero_section > div:last-child {
    width: 40%;
  }
  .left > div > h1 {
    line-height: 80px;
    font-size: 80px;
  }

  .left > div > div > button {
    height: 40px;
    width: 40%;
  }

  .top350K {
    right: 0%;
    top: 20%;
    width: 45%;
  }
  .btm350K {
    left: -10%;
    width: 45%;
  }
  /* header_section_end */
  /* ======================================================== */

  /* main_section_start */

  /* main_top_section_start */
  .main_section_1_top_insideDiv > div > h1 {
    font-size: 48px;
  }

  /* main_top_section_end */
  /* =========================== */
  /* main_mid_start */
  .main_section_1_middle > div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* main_mid_end */
  /* ======================= */
  /* main_bottom-start */
  .main_section_1_bottom {
    flex-direction: row;
  }
  .main_section_1_bottom > div {
    width: 48%;
  }
  .main_section_1_bottom > div:last-child {
    margin-top: 0px;
  }
  .main_section_1_bottom > div > button {
    margin-top: 50px;
  }
  /* main_bottom-end */

  /* main_section_end */
}
